*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /*we make the all element inherit  box-sizing: border-box; */
}
html {
  font-size: 62.5%; /*16 px is the default font size by browser 62.5% is 10 px*/
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: #fff;
}




body {
  box-sizing: border-box;
  padding: 1rem;
}